# -------------------------------------------------
# CODEOWNERS - For automated review request for
# high impact files.
#
# Important: The order in this file cascades.
#
# https://help.github.com/articles/about-codeowners
# -------------------------------------------------

# -------------------------------------------------
# Default reviewer for this repository
# -------------------------------------------------

* @miyaliu666

# --- Owned by none (negate rule above) ---

package.json
package-lock.json

# -------------------------------------------------
# Root files use the same repository reviewer
# -------------------------------------------------

/* @miyaliu666

# --- Owned by none (negate rule above) ---

/package.json
/package-lock.json
